<ion-row>
	<ion-col class="reports-label">
		Fornecedores
	</ion-col>
</ion-row>
<ion-row class="report" *ngFor="let supplier of suppliers">
	<ion-col class="report-box">
		<ion-row>
			<ion-col class="report-label">
				{{supplier.name}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<span class="report-label-text">Valor Gasto</span>
				<span class="report-number">{{supplier.value_expense}}</span>
			</ion-col>
			<ion-col>
				<span class="report-label-text">Último Pedido</span>
				<span class="report-number">{{supplier.last_order}}</span>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<span class="report-label-text">Marketshare</span>
				<span class="report-number">{{supplier.marketshare}}</span>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col text-right class="report-details">
				<span>Acessar Loja</span> 
				<ion-icon name="ios-arrow-forward"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-col>
</ion-row>