page-home {
    .grid {
        padding: 0;
    }

    .header .item-input {
        color: #FFF;
    }

    .header .item-input ion-label {
        margin: 2px;
    }

    .header ion-label ion-icon {
        font-size: 1.5em;
        color: #FFF;
    }

    .header ion-item {
        background-color: #A82923 !important;
    }

    .header .item-inner {
        border-bottom: none !important;
    }

    .col-logo {
        margin: 0px;
        margin-top: -6px;
        margin-bottom: -10px;
        padding: 0;
    }

    .col-logo img {
        width: 84px;
        margin-left: 20px;
    }

    .header .notification-button {            
        position: relative;
        width: auto;
        top:1px;
        right: 1px;
        overflow: visible!important;
    }

    .header .notification-button ion-icon {
        font-size: 32px;
        color: #fff;
    }

    .header .notifications-badge {
        position: absolute;
        padding: 3px 6px;
        border-radius: 50%;
    }

    .badge-blue {
        background-color: #2989A6;
    }

    .badge-green {
        background-color: #73B441;
    }

    ion-badge {
        padding: 3px 3px;
        font-family: Roboto, "Helvetica Neue", sans-serif !important;
    }

    .badge {
        top: 0;
        right: 5px;
    }

    .header .badge-cart-header {
        right: 0;
    }

    .margin-right-10 {
        margin-right: 10px;
    }

    .button-user {
        color: #FFF;
        text-transform: none;
    }

    .arrow-user {
        padding-left: 10px;
        font-size: 12px;
        margin-top: 2px;
    }

    .img-user {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 5px solid #BC413B;
    }

    .menu {
        height: 100%;
        position: fixed;
        background-color: #303030;
        top: 63px;
    }

    .menu ion-item {
        background-color: #303030;
        color: #989898;
        padding-left: 0;
    }

    .menu .current {
        border-left: 7px solid #A82923;
        font-weight: bold;
        color: #FFF;
    }

    .menu .current ion-icon {
        color: #A82923;
    }

    .menu .input-wrapper {
        padding-left: 30px;
    }

    .menu .current .input-wrapper {
        padding-left: 22px;
    }

    .menu .item-inner {
        border-bottom: none !important;
    }

    .menu ion-list {
        margin-top: 15px;
    }

    .menu ion-icon {
        padding-right: 7px;
    }

    .menu ion-badge {
        padding: 2px 5px;
        border-radius: 50%;
        margin-left: 10px;
    }

    .content {
        position: absolute;
        right: 0;
    }
}