<ion-header class="header">
	<ion-navbar>
		<!-- Component header -->
		<header></header>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid no-padding>
		<ion-row>
			<!-- Component sidemenu -->
			<sidemenu></sidemenu>

			<dashboard *ngIf="menu == 'dashboard'"></dashboard>
			<market *ngIf="menu == 'market'"></market>
			<fast-buy *ngIf="menu == 'fast_buy'"></fast-buy>

			<div id="o-wrapper" class="o-wrapper">
				<main class="o-content">
					<div class="o-container">
						<div class="c-buttons"></div>
					</div>
				</main>
			</div>
			<nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
				
			</nav><!-- /c-menu slide-right -->
			
			<div id="c-mask" class="c-mask"></div><!-- /c-mask -->
		</ion-row>
	</ion-grid>
</ion-content>