<ion-row class="market-content">
	<ion-col class="breadcrumbs">Mercado <span>></span> Bebidas <span>> Sucos</span></ion-col>
</ion-row>
<ion-row>
	<ion-col col-3>
		<ion-row>
			<ion-col>
				<img src="../assets/img/recommends-products4.png">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="product-zoom" text-center>
				<ion-icon name="netfoods-zoom"></ion-icon> Passe o mouse para ampliar
			</ion-col>
		</ion-row>
	</ion-col>
	<ion-col col-6>
		<ion-row>
			<ion-col class="product-name">Do Bem</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="product-desc">Suco Verde Detox Misto Integral DO BEM 1 Litro</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="font-size-12 product-sold-by">Vendido por: <span>Grupo PA <ion-icon name="netfoods-valid"></ion-icon></span></ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="product-rating">
				<ion-icon class="full-star" name="star"></ion-icon>
				<ion-icon class="full-star" name="star"></ion-icon>
				<ion-icon class="full-star" name="star"></ion-icon>
				<ion-icon class="full-star" name="star"></ion-icon>
				<ion-icon name="ios-star-outline"></ion-icon>
				<span>(451)</span>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="product-size">
				Dados de Embalagem: Caixa com 10Kg
			</ion-col>
		</ion-row>
		<ion-row class="product-prices">
			<ion-col col-5>
				<ion-row><ion-col class="product-price">R$ 1113,90</ion-col></ion-row>
				<ion-row><ion-col class="product-price-unit">Valor Unitário: <span>R$ 16,90</span></ion-col></ion-row>
			</ion-col>
			<ion-col class="product-quantity-column quantity-column-big" text-right>
				<span class="products-list-quantity list-quantity-big">
					<ion-icon name="md-remove"></ion-icon>
					<span>01</span>
					<ion-icon name="md-add" class="icon-plus"></ion-icon>
				</span>
				<span class="products-list-cart list-cart-big">
					<ion-icon name="cart"></ion-icon> Adicionar
				</span>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="product-group-text">
				Este produto tem desconto na compra acima de:
			</ion-col>
		</ion-row>
		<ion-row class="product-groups" text-center>
			<ion-col class="product-group">
				<ion-row><ion-col>Acima de 3 Caixas</ion-col></ion-row>
				<ion-row>
					<ion-col class="no-padding-top"><span>R$ 14,90</span> p/ uni.</ion-col>
				</ion-row>
			</ion-col>
			<ion-col class="product-group">
				<ion-row><ion-col>Acima de 6 Caixas</ion-col></ion-row>
				<ion-row>
					<ion-col class="no-padding-top"><span>R$ 13,90</span> p/ uni.</ion-col>
				</ion-row>
			</ion-col>
			<ion-col class="product-group">
				<ion-row><ion-col>Acima de 9 Caixas</ion-col></ion-row>
				<ion-row>
					<ion-col class="no-padding-top"><span>R$ 12,90</span> p/ uni.</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="product-action">
				<ion-icon class="font-size-20" name="netfoods-card"></ion-icon> 
				<span class="padding-left-5">Formas de pagamento</span>
			</ion-col>
			<ion-col class="product-action">
				<ion-icon class="font-size-25" name="netfoods-heart"></ion-icon> 
				<span>Adicionar a Favoritos</span>
			</ion-col>
			<ion-col class="product-action">
				<ion-icon class="font-size-20" name="netfoods-information"></ion-icon> 
				<span>Info</span>
			</ion-col>
		</ion-row>
	</ion-col>
</ion-row>
<products-list [products_list]="related_products" type="related-products" title="Produtos Similares"></products-list>
<ion-row class="product-description">
	<ion-col>
		<ion-row>
			<ion-col class="market-title margin-top-10 margin-bottom-15">
				Descrição do Produto
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="product-description-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</ion-col>
		</ion-row>
	</ion-col>
</ion-row>
<ion-row class="product-supplier">
	<ion-col col-8>
		<ion-row>
			<ion-col class="market-title margin-top-10 no-padding-bottom">
				Informações sobre o fornecedor
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="product-supplier-text no-padding-top padding-left-13">
				Grupo PA <ion-icon name="netfoods-valid"></ion-icon>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="product-supplier-comments no-padding-top padding-left-13">
				(451) Comentários
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="product-supplier-local no-padding-top padding-left-13 margin-bottom-15">
				Santos, São Paulo, Cadastrado desde Janeiro de 2017
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="product-description-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			</ion-col>
		</ion-row>
	</ion-col>
	<ion-col class="margin-top-25">
		<button ion-button class="button-supplier">Fale com o Fornecedor</button>
	</ion-col>
</ion-row>