// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/icons";

.grid {
    padding: 0;
}

.no-margin {
    margin: 0 !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.no-margin-top {
    margin-top: 0 !important;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-right-12 {
    margin-right: 12px;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-left-13 {
    padding-left: 13px;
}

.padding-top-7 {
    padding-top: 7px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-35 {
    padding-top: 35px !important;
}

.padding-bottom-35 {
    padding-bottom: 35px;
}

.no-padding {
    padding: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-25 {
    font-size: 25px;
}

.header .item-input {
    color: #FFF;
}

.header .item-input ion-label {
    margin: 2px;
}

.header ion-label ion-icon {
    font-size: 1.5em;
    color: #FFF;
}

.header ion-item {
    background-color: #A82923 !important;
}

.header .item-inner {
    border-bottom: none !important;
}

.col-logo {
    margin: 0px;
    margin-top: -6px;
    margin-bottom: -10px;
    padding: 0;
}

.col-logo img {
    width: 84px;
    margin-left: 20px;
}

.header .notification-button {            
    position: relative;
    width: auto;
    top:1px;
    right: 1px;
    overflow: visible!important;
}

.header .notification-button ion-icon {
    font-size: 30px;
    color: #fff;
}

.header .notifications-badge {
    position: absolute;
    padding: 3px 6px;
    border-radius: 50%;
}

.badge-blue {
    background-color: #2989A6;
}

.badge-green {
    background-color: #73B441;
}

ion-badge {
    padding: 3px 3px;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.badge {
    top: 0;
    right: 15px;
}

.header .badge-cart-header {
    right: 0;
}

.margin-right-10 {
    margin-right: 10px;
}

.button-user {
    color: #FFF;
    text-transform: none;
}

.arrow-user {
    padding-left: 10px;
    font-size: 12px;
    margin-top: 2px;
}

.img-user {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 5px solid #BC413B;
}

.menu {
    height: 100%;
    position: fixed;
    background-color: #303030;
    top: 63px;
}

.menu ion-item {
    background-color: #303030;
    color: #989898;
    padding-left: 0;
}

.menu .current {
    border-left: 7px solid #A82923;
    font-weight: bold;
    color: #FFF;
}

.menu .current ion-icon {
    color: #A82923;
}

.menu .input-wrapper {
    padding-left: 30px;
}

.menu .current .input-wrapper {
    padding-left: 22px;
}

.menu .item-inner {
    border-bottom: none !important;
}

.menu ion-list {
    margin-top: 15px;
}

.menu ion-icon {
    top: 17px;
    position: absolute;
    font-size: 20px;
}

.menu span {
    top: 15px;
    left: 60px;
    position: absolute;
}

.menu .current span {
    top: 15px;
    left: 53px;
    position: absolute;
}

.menu ion-badge {
    padding: 2px 5px;
    border-radius: 50%;
    margin-left: 120px;
    position: relative;
    top: 1px;
    right: 5px;
}

.menu ion-label {
    cursor: pointer;
}

.content {
    position: absolute;
    right: 0;
}

.content .content-right {
    background-color: #F8F8FA;
    height: 100%;
    position: fixed;
    width: 21%;
    right: 0;
    top: 63px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-right .orders:last-of-type {
    margin-bottom: 50px;
}

.orders-label {
    line-height: 45px;
    font-size: 18px;
}

.content-right fieldset {
    border-width: 1px;
    border-radius: 4px;
    border-color: #E6EAEF;
    border-style: solid;
    height: 45px;
    cursor: pointer;
}

.content-right fieldset span {
    color: #999;
    font-size: 13px;
    margin-left: 5px; 
}

.content-right fieldset ion-icon {
    margin-left: 7px;
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 12px;
}

legend {
    color: #999;
    font-size: 10px;
}

.circle-yellow {
    background: #f5cf16;
    padding: 5px 5px;
    border-radius: 100%;
    width: 1%;
    display: inline-block;
    margin-left: 5px;
    box-shadow: 0px 3px 7px 1px #e0e0e0;
    margin-left: 0;
}

.box-yellow {
    background: #f5cf16;
    position: absolute;
    width: 12px;
    height: 25px;
    left: -6px;
    top: 15px;
}

.circle-red {
    background: #A82923;
    padding: 5px 5px;
    border-radius: 100%;
    width: 1%;
    display: inline-block;
    margin-left: 5px;
    box-shadow: 0px 3px 7px 1px #e0e0e0;
    margin-left: 0;
}

.box-red {
    background: #A82923;
    position: absolute;
    width: 12px;
    height: 25px;
    left: -6px;
    top: 15px;
}

.circle-gray {
    background: #303030;
    padding: 5px 5px;
    border-radius: 100%;
    width: 1%;
    display: inline-block;
    margin-left: 5px;
    box-shadow: 0px 3px 7px 1px #e0e0e0;
    margin-left: 0;
}

.box-gray {
    background: #303030;
    position: absolute;
    width: 12px;
    height: 25px;
    left: -6px;
    top: 15px;
}

.circle-green {
    background: #73B441;
    padding: 5px 5px;
    border-radius: 100%;
    width: 1%;
    display: inline-block;
    margin-left: 5px;
    box-shadow: 0px 3px 7px 1px #e0e0e0;
    margin-left: 0;
}

.box-green {
    background: #73B441;
    position: absolute;
    width: 12px;
    height: 25px;
    left: -6px;
    top: 15px;
}

.circle-blue {
    background: #2989A6;
    padding: 5px 5px;
    border-radius: 100%;
    width: 1%;
    display: inline-block;
    margin-left: 5px;
    box-shadow: 0px 3px 7px 1px #e0e0e0;
    margin-left: 0;
}

.box-blue {
    background: #2989A6;
    position: absolute;
    width: 12px;
    height: 25px;
    left: -6px;
    top: 15px;
}

.order {
    margin: 10px;
    margin-left: 15px;
    margin-right: 7px;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0px 3px 7px 1px #e0e0e0;
    color: #999;
    padding-top: 10px;
    padding-left: 15px;
}

.order-text {
    color: #999;
    font-size: 10px;
    padding-bottom: 0;
}

.order-number {
    font-size: 17px;
    font-weight: 700;
    color: #000;
}

.order-actions ion-icon {
    padding-right: 2px;
}

.order-label {
    font-size: 10px;
}

.order-value{
    font-size: 14px;
}

.order .order-information ion-icon {
    margin-right: 7px;
}

.order .message-red {
    color: #B72827;
}

.order-details {
    margin-right: 15px;
    margin-bottom: 3px;
    color: #c8c7cc;
    font-size: 12px;
}

.order-details span {
    margin-top: 10px;
}

.order-details ion-icon {
    font-size: 0.9em;
    padding-left: 3px;
}

.statistics,
.products,
.reports,
.activities {
    margin: 20px 0;
}

.charts {
    margin: 20px 7px;
}

.statistics .statistics-box,
.charts .charts-box,
.products .products-box,
.product-list .product-box,
.reports .reports-box,
.report .report-box,
.activities .activities-box,
.market .products-list {
    padding: 5px;
    border: 1px solid #F8F8FA;
    margin: 0 7px;
    border-radius: 4px;
    box-shadow: 0px 3px 7px 0px #e0e0e0;
    color: #999;
}

.statistics .img-chart {
    padding: 0;
    height: 40px;
}

.statistics .statistics-label {
    font-size: 12px;
}

.statistics .statistics-icon {
    padding: 0;
    top: 2px;
    font-size: 24px;
}

.statistics .statistics-number {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.statistics .statistics-details,
.charts .charts-details,
.report .report-details,
.activities .activities-details {
    margin-bottom: 3px;
    margin-top: 10px;
    color: #c8c7cc;
    font-size: 12px;
}

.statistics .statistics-details ion-icon,
.charts .charts-details ion-icon,
.report .report-details ion-icon,
.activities .activities-details ion-icon {
    font-size: 0.9em;
    padding-left: 3px;
}

.charts .charts-label,
.products .products-label,
.reports .reports-label,
.market .market-title {
    font-size: 19px;
    color: #000;
    padding-top: 15px;
    padding-left: 13px;
}

.charts fieldset,
.products fieldset {
    border-width: 1px;
    border-radius: 4px;
    border-color: #E6EAEF;
    border-style: solid;
    height: 45px;
}

.charts fieldset span,
.products fieldset span {
    color: #999;
    font-size: 13px;
    margin-left: 5px; 
}

.charts fieldset ion-icon,
.products fieldset ion-icon {
    margin-left: 7px;
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 12px;
}

.charts .charts-icon,
.products .products-icon,
.reports .reports-icon {
    padding: 0;
    padding-left: 10px;
    top: 16px;
    font-size: 24px;
}

.products .products-search,
.fast-buy .products-search {
    border: 1px solid #E6EAEF;
    border-radius: 4px;
    font-size: 13px;
    height: 20px;
    min-height: 40px;
    top: 5px;
}

.products .quantity-total {
    margin-top: 14px;
    padding-left: 13px;
    font-size: 12px;
    color: #000;
}

.product-list .product-box {
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.product-list .product-name {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
    color: #000;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
    cursor: pointer;
}

.product-list .product-code {
    font-size: 12px;
    padding-bottom: 0;
    padding-top: 10px;
}

.product-list .product-group {
    font-size: 12px;
    padding-top: 0; 
}

.product-list .product-label {
    font-size: 10px;
    text-transform: uppercase;
}

.product-list .product-current-value {
    font-weight: bold;
}

.product-list .down {
    color: #73B440;
}

.product-list .up {
    color: #B72827;
}

.product-list .product-cart-quantity {
    margin-top: 6px;
}

.product-list .product-cart,
.market .products-list-cart {
    border-radius: 4px;
    background-color: #73B440;
    color: #FFF;
    font-size: 14px;
    padding: 7px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: -4px;
}

.product-list .product-previous-value {
    padding-top: 3px;
    font-size: 12px;
    font-weight: bold;
}

.product-list .product-average-value {
    padding-top: 1px;
    font-size: 12px;
    font-weight: bold;
}

.product-list .product-price-history {
    font-size: 10px;
    text-transform: uppercase;
    padding-left: 6px;
}

.product-list .product-quantity,
.market .products-list-quantity {
    border: 1px solid #E6EAEF;
    border-right: none;
    border-radius: 4px;
    padding: 6px;
}

.product-list .product-quantity ion-icon,
.market .products-list-quantity ion-icon {
    color: #73B440;
    padding-left: 10px;
    padding-right: 10px;
}

.product-list .product-quantity .icon-plus,
.market .products-list-quantity .icon-plus {
    padding-right: 5px;
}

.report,
.activities {
    margin: 10px 0;
}

.report .report-label {
    font-size: 13px;
    color: #000;
    font-weight: bold;
}

.report .report-label-text {
    text-transform: uppercase;
    font-size: 9px;
    display: block;
}

.report .report-number {
    font-size: 13px;
    font-weight: bold;
    color: #848282;
}

.report .report-details {
    margin-top: 0;
}

.reports .reports-date {
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

.reports .loading-bar {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.reports .loading-bar-done {
    background-color: #2A87A6;
    height: 15px;
    margin: 0;
    padding: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.reports .loading-bar-no-done {
    background-color: #76E1E6;
    height: 15px;
    margin: 0;
    padding: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.reports .monitoring {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.reports .monitoring .monitoring-label {
    font-size: 10px;
    text-transform: uppercase;
    display: block;
}

.reports .monitoring .monitoring-value-plan,
.reports .monitoring .monitoring-value-realized {
    font-weight: bold;
}

.reports .monitoring .monitoring-value-realized {
    color: #73B440;
}

.reports .monitoring-number {
    padding-top: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #73B440;
}

.activities .activities-label-text {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    display: block;
}

.activities .activities-label-value {
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

.activities .activities-subtitle {
    font-size: 10px;
    display: block;
}

.activities .activities-details {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.activities .up {
    color: #73B440;
}

.activities .down {
    color: #B72827;
}

.no-chart-view {
    overflow: hidden;
    border-color: rgba(0,0,0,.4);
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
}

.no-chart-view .content-chart {
    filter: blur(2px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    z-index: 99;
}

.no-chart-view .no-chart-monitoring {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    filter: blur(0);
}

.no-chart-view .text-no-chart {
    position: absolute;
    text-align: center;
    z-index: 101;
    width: 80%;
    top: 40%;
    left: 14%;
    font-size: 18px;
    color: #fff;
}

.ion-ios-more {
    cursor: pointer;
}

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.wrapping-list {
    overflow: initial;
    white-space: initial;
}

.product-list .product-current-value,
.product-list .product-group-value,
.market .products-list-group-value,
.market .products-list-current-value {
    font-size: 14px;
    padding-top: 0;
    color: #73B440;
    font-weight: bold;
}

.product-list .product-group-value,
.market .products-list-current-value {
    color: #999;
    font-size: 12px;
}

.product-list .product-current-value span,
.product-list .product-group-value span,
.market .products-list-group-value span,
.market .products-list-current-value span {
    font-size: 11px;
    color: #999;
    font-weight: normal;
}

popover ion-item {
    font-size: 14px !important;
}

.popover-content {
    width: 150px !important;
}

popover .list-md {
    margin: -1px 0 0;
}

.item-menu-popover div {
    box-shadow: none;
    margin-right: 5px;
    cursor: pointer;
}

tooltip-box {
    font-size: 12px !important;
    padding: 10px !important;
}

.submenu {
    color: #999;
    -webkit-box-shadow: 2px 2px 4px 0px #e0e0e0;
    box-shadow: 2px 2px 4px 0px #e0e0e0;
    position: fixed;
    width: 83%;
    margin-left: 2px;
    z-index: 1000;
    background-color: #FFF;
}

.submenu ion-icon {
    display: block;
    font-size: 30px;
    padding-bottom: 5px;
}

.submenu ion-col {
    text-align: center;
    font-size: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.submenu .current {
    background-color: #A82923;
    color: #FFF;
}

.swiper-pagination {
    display: block !important;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
}

.market-content {
    margin-top: 70px;
}

.fast-buy-content {
    margin-top: 70px;
    margin-left: 5px;
}

ion-slides {
    padding-left: 10px;
}

ion-slide img {
    border-radius: 4px;
}

.swiper-pagination-bullet {
    background: #FFF !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background: #2A87A6 !important;
    -webkit-box-shadow: 0px 3px 7px 0px #e0e0e0 !important;
    box-shadow: 0px 1px 10px 1px #2A87A6 !important;
}

.products .products-box {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.product .product-cart-quantity {
    margin-top: 12px;
}

.products .quantity-total {
    margin-top: 4px;
    padding-left: 13px;
    font-size: 12px;
    color: #000;
}

.products .products-offers-day {
    height: 270px;
    position: static;
    right: 0;
    top: 130px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.market .products-list {
    border-top: 2px solid #F8F8FA;
    flex: 0 0 18.66667% !important;
    width: 18.66667% !important;
    max-width: 18.66667% !important;
}

.market .products-list-list {
    margin: 10px 5px;
    margin-left: 25px;
    margin-bottom: 35px;
}

.market .products-list-group {
    margin-left: -6px;
    background-color: #2A86A5;
    color: #FFF;
    font-size: 11px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.market .products-list-group ion-icon {
    margin: 0 5px;
    margin-top: 3px;
    font-size: 18px;
}

.market .products-list-group-name {
    color: #B72827;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.market .products-list-group-text {
    position: absolute;
    top: 12px;
    left: 35px;
}

.market .products-list-type span{
    font-size: 13px;
    font-weight: bold;
    color: #000;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 96%;
    cursor: pointer;
}

.market .products-list-quantity-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.market .products-list-quantity {
    padding: 3px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.market .products-icon-heart {
    font-size: 25px;
    padding: 0;
}

.market .products-list-quantity .ion-md-remove {
    font-size: 11px;
    padding-left: 8px;
    padding-right: 8px;
}

.market .products-list-quantity span {
    font-size: 12px;
}

.market .products-list-quantity .ion-md-add {
    font-size: 11px;
    padding-right: 7px;
}

.market .products-list-cart {
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.market .products-list-cart ion-icon {
    padding-right: 3px;
}

.market .featured-suppliers {
    background-color: #F8F8FA;
}

.market .featured-suppliers-title {
    font-size: 19px;
}

.market .featured-suppliers-subtitle {
    font-size: 12px;
    padding-top: 0;
}

.market .featured-suppliers-images ion-col {
    background-color: #FFF;
    padding: 5px;
    margin: 0 7px;
}

.breadcrumbs {
    font-size: 11px;
    margin-top: 20px;
    margin-left: 20px;
}

.breadcrumbs span {
    font-weight: bold;
    color: #2989A6;
}

.product .product-name {
    color: #A82923;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.product .product-desc {
    font-size: 18px;
    padding-bottom: 0;
}

.product .product-sold-by {
    padding-top: 1px;
}

.product .product-sold-by span {
    color: #2989A6;
    font-weight: bold;
}

.product .product-sold-by ion-icon,
.product .product-rating {
    font-size: 18px;
}

.product .product-rating {
    font-size: 18px;
    margin-bottom: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid #f4f4f4;
}

.product .product-rating span {
    font-size: 12px;
    margin-left: 5px;
}

.product .product-size {
    font-size: 13px;
    color: #8c8b8b;
    margin-bottom: 5px;
}

.product .product-prices {
    padding-bottom: 1px;
    border-bottom: 1px solid #f4f4f4;
}

.product .product-price {
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    color: #73B440;
}

.product .product-price-unit {
    padding-left: 0;
    padding-top: 0;
    font-size: 13px;
    color: #8c8b8b;
}

.product .product-price-unit span {
    font-weight: bold;
}

.product .product-group-text {
    margin-top: 5px;
    font-size: 13px;
    color: #8c8b8b;
}

.product .product-groups {
    padding-bottom: 5px;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 8px;
}

.product .product-group {
    border: 1px solid #E6EAEF;
    border-radius: 4px;
    font-size: 12px;
    margin: 10px 7px;
    padding: 10px;
    color: #8c8b8b;
}

.product .product-group span {
    font-weight: bold;
}

.product .product-action {
    color: #8c8b8b;
}

.product .product-action span {
    position: absolute;
    left: 30px;
    top: 7px;
    font-size: 13px;
}

.product-quantity-column {
    margin-top: 5px;
    margin-bottom: 5px;
}

.product .product-zoom {
    font-size: 12px;
    color: #8c8b8b;
}

.market .quantity-column-big {
    margin-top: 15px;
    margin-bottom: 0;
}

.market .list-quantity-big {
    padding: 11px;
    padding-bottom: 13px;
}

.market .list-quantity-big .ion-md-remove,
.market .list-quantity-big .ion-md-add {
    font-size: 14px;
}

.market .list-quantity-big span {
    font-size: 14px;
    color: #8c8b8b;
}

.market .list-cart-big {
    padding: 14px;
    padding-left: 40px;
    padding-right: 40px;
}

.market .list-cart-big ion-icon {
    padding-right: 8px;
}

.market .product-description {
    margin-top: -25px;
    background-color: #FBFBFD;
}

.market .product-description-text {
    font-size: 13px;
    line-height: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #8c8b8b;
}

.market .product-supplier {
    background-color: #F7F7F7;
}

.market .product-supplier-text {
    color: #2989A6;
    font-size: 19px;
    font-weight: bold;
}

.market .button-supplier {
    background-color: #2989A6;
    text-transform: none;
}

.market .button-supplier:hover {
    background-color: rgb(115, 180, 65);
}

.market .product-supplier-comments {
    font-size: 12px;
}

.market .product-supplier-local {
    font-size: 12px;
    color: #8c8b8b;
}

.market .rating {
    border-top: 2px solid #F8F8FA;
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 7px 0px #e0e0e0;
    box-shadow: 0px 3px 7px 0px #e0e0e0;
    margin: 10px;
}

.market ion-segment {
    width: 250px !important;
}

.market .segment-md .segment-button {
    text-transform: none !important;
    border-bottom-color: #fff;
    color: #000;
    margin-top: 5px;
    height: 4.8rem;
}

.segment-md .segment-button.activated, 
.segment-md .segment-button.segment-activated {
    border-color: #2989A6;
    border-bottom-width: 4px;
}

.market .rating_options {
    border-top: 1px solid #E6EAEF;
    color: black;
    padding: 0;
}

.market .rating-option-text {
    border-bottom: 1px solid #E6EAEF;
    padding-bottom: 6px;
    padding-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.market .rating-number {
    font-size: 24px;
    font-weight: bold;
    padding-right: 10px;
}

.market .rating-stars {
    display: inline-block;
    font-size: 18px;
    padding-right: 10px;
}

.market .rating-comments {
    font-size: 13px;
}

.market .rating-percentage {
    font-size: 24px;
    font-weight: bold;
    padding-right: 5px;
}

.market .rating-percentage-text {
    position: absolute;
    top: 22px;
    font-size: 13px;
    left: 60px;
}

.market .rating-title {
    font-size: 18px;
    padding-top: 10px;
}

.market .rating-date {
    color: #8c8b8b;
    font-size: 13px;
}

.market .rating-message {
    font-size: 13px;
    line-height: 20px;
}

.market .rating-option-text:last-of-type {
    border-bottom: none;
}

.full-star {
    color: #F7D14B;
}

.gray-star {
    color: #d9d9d9;
}

.col-half-offset {
    margin-left:1.166666667% !important;
}

.market .products-list {
    margin: 10px 0;
}

.market .category-title {
    padding-top: 0;
    margin-left: 16px;
    font-size: 18px;
}

.market .category-title ion-icon {
    color: #A82923;
}

.market .category-filter {
    border-top: 1px solid #E6EAEF;
    border-bottom: 1px solid #E6EAEF;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 12px;
}

.market .category-sort {
    padding-right: 20px;
}

.market .category-sort span {
    font-weight: bold;
}

.market .category-sort ion-icon {
    position: absolute;
    right: 7px;
    color: #A82923;
}

.market .category-subitems {
    margin: 5px;
    border-bottom: 1px solid #2989A6;
    cursor: pointer;
}

.fast-buy {
    background-color: #FBFBFD;
    height: 100%;
}

.fast-buy .products-search {
    padding-left: 10px;
}

.fast-buy .products-search ion-icon {
    font-size: 22px;
    color: #c3c3c3;
    margin-top: -3px;
}

.fast-buy .products-search input {
    margin-left: 0px;
}

.fast-buy .step {
    padding: 10px;
    margin: 15px 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #E6EAEF;
    background-color: #fff;
    height: calc(100vh - 170px);
}

.step-title {
    font-size: 18px;
}

.step-subtitle {
    font-size: 15px;
    color: #8c8b8b;
    padding-top: 0;
}

.fast-buy .step-3 {
    background-color: #F8F8FA;
    height: 100%;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.step-quantity {
    font-size: 11px;
    padding-top: 10px;
}

.fast-buy .step-supplier {
    border: 1px solid #F8F8FA;
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 7px 0px #e0e0e0;
    box-shadow: 0px 3px 7px 0px #e0e0e0;
    margin-top: 10px;
    cursor: pointer;
}

.fast-buy .step-supplier:first-of-type {
    margin-top: 0;
}

.fast-buy .step-supplier-name {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.step-suppliers {
    position: static;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 320px);
}

.fast-buy .step-subtotal {
    border-top: 1px solid #E6EAEF;
    border-bottom: 1px solid #E6EAEF;
    padding: 10px 0;
    margin: 5px;
}

.fast-buy .step-subtotal-supplier {
    display: block;
    color: #A82923;
    font-size: 13px;
}

.fast-buy .step-subtotal-quantity {
    font-size: 13px;
    font-weight: bold;
}

.fast-buy .step-subtotal-price {
    color: #73B440;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;
}

.fast-buy .step-total-price {
    color: #73B440;
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
}

.fast-buy .step-total-text {
    color: #73B440;
    font-size: 13px;
    padding-right: 10px;
}

.fast-buy .step-product-box {
    box-shadow: 0px 3px 7px 1px #e0e0e0;
    background-color: #fff;
}

.fast-buy .step-product-box:first-of-type {
    margin-top: 5px;
}

.fast-buy .step-product-quantity {
    padding-top: 0;
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: bold;
}

.fast-buy .step-product-remove {
    border-left: 1px solid #E6EAEF;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

.fast-buy .step-total {
    background-color: #F0F0F0;
    position: fixed;
    width: 27.7%;
    right: 0;
    bottom: 0;
}

.fast-buy .step-save-order {
    color: #2989A6;
    font-size: 12px;
    padding-top: 0;
}

.fast-buy .step-product-list {
    height: 250px;
    position: static;
    overflow-y: scroll;
    overflow-x: hidden;
}

.button-order {
    background-color: #73B440;
    text-transform: none;
    border-radius: 4px;
}

.button-order:hover {
    background-color: #2989A6 !important;
    text-transform: none;
    border-radius: 4px;
}


