<ion-grid>
	<ion-row>
		<ion-col col-2 class="col-logo">
			<img src="assets/img/logo-white.png" />
		</ion-col>
		<ion-col col-4>
			<ion-item>        
				<ion-label> <ion-icon name="search"></ion-icon></ion-label>
				<ion-input clearInput type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col no-padding col-4>
			<ion-row>
				<ion-col text-right col-10>
					<button class="button-user" ion-button clear>
						Catherine Ramos
						<ion-icon class="arrow-user" name="ios-arrow-down"></ion-icon>              
					</button>
				</ion-col>
				<ion-col text-left no-padding col-2>
					<img src="../assets/img/user.png" class="img-user" />
				</ion-col>
			</ion-row>
		</ion-col>
		<ion-col text-center col-2>
			<button id="c-button--slide-right" class="notification-button" ion-button clear>
				<ion-icon name="netfoods-notifications">
					<ion-badge class="notifications-badge badge-blue">3</ion-badge>
				</ion-icon>              
			</button>
			<button class="notification-button" [popover]="myPopover" ion-button clear>
				<ion-icon name="ios-cart-outline">
					<ion-badge class="notifications-badge badge-green badge-cart-header">17</ion-badge>
				</ion-icon>              
			</button>
			<popover-content #myPopover 
						title="Popover title" 
						placement="bottom"
						[animation]="true" 
						[closeOnClickOutside]="true" >
				<b>Very</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>
				<b><i><span style="color: #ffc520">Popover With</span></i></b> <small>Html support</small>.
			</popover-content>
		</ion-col>
	</ion-row>
</ion-grid>