<ion-col class="menu" no-padding col-2>
	<ion-list>
		<ion-item (click)="go('dashboard')" class="current" [class.current]="sidemenu == 'dashboard'" text-wrap>
			<ion-icon name="ios-stats-outline"></ion-icon> Dashboard
		</ion-item>
		<ion-item (click)="go('market')" [class.current]="sidemenu == 'market'" text-wrap>
			<ion-icon name="ios-paper-outline"></ion-icon> Mercado
		</ion-item>
		<ion-item (click)="go('purchase')" [class.current]="sidemenu == 'purchase'" text-wrap>
			<ion-icon name="ios-cart-outline"></ion-icon> Compra Rápida
		</ion-item>
		<ion-item (click)="go('orders')" [class.current]="sidemenu == 'orders'" text-wrap>
			<ion-icon name="ios-create-outline"></ion-icon> Pedidos
		</ion-item>
		<ion-item (click)="go('providers')" [class.current]="sidemenu == 'providers'" text-wrap>
			<ion-icon name="ios-home-outline"></ion-icon> Fornecedores
		</ion-item>
		<ion-item (click)="go('messages')" [class.current]="sidemenu == 'messages'" text-wrap>
			<ion-icon name="ios-chatbubbles-outline"></ion-icon> Mensagens
			<ion-badge class="badge-blue">3</ion-badge>
		</ion-item>
		<ion-item (click)="go('settings')" [class.current]="sidemenu == 'settings'" text-wrap>
			<ion-icon name="ios-settings-outline"></ion-icon> Configurações
		</ion-item>
	</ion-list>
</ion-col>