<ion-col class="menu" no-padding col-2>
	<ion-list>
		<ion-item (click)="go('dashboard')" class="current" [class.current]="sidemenu == 'dashboard'" text-wrap>
			<ion-icon name="ios-stats-outline"></ion-icon> Dashboard
		</ion-item>
		<ion-item (click)="go('mercado')" [class.current]="sidemenu == 'mercado'" text-wrap>
			<ion-icon name="ios-paper-outline"></ion-icon> Mercado
		</ion-item>
		<ion-item (click)="go('compra')" [class.current]="sidemenu == 'compra'" text-wrap>
			<ion-icon name="ios-cart-outline"></ion-icon> Compra Rápida
		</ion-item>
		<ion-item (click)="go('pedidos')" [class.current]="sidemenu == 'pedidos'" text-wrap>
			<ion-icon name="ios-create-outline"></ion-icon> Pedidos
		</ion-item>
		<ion-item (click)="go('fornecedores')" [class.current]="sidemenu == 'fornecedores'" text-wrap>
			<ion-icon name="ios-home-outline"></ion-icon> Fornecedores
		</ion-item>
		<ion-item (click)="go('mensagens')" [class.current]="sidemenu == 'mensagens'" text-wrap>
			<ion-icon name="ios-chatbubbles-outline"></ion-icon> Mensagens
			<ion-badge class="badge-blue">3</ion-badge>
		</ion-item>
		<ion-item (click)="go('configuracoes')" [class.current]="sidemenu == 'configuracoes'" text-wrap>
			<ion-icon name="ios-settings-outline"></ion-icon> Configurações
		</ion-item>
	</ion-list>
</ion-col>