<ion-col class="content" col-10>
	<ion-row>
		<ion-col col-9>
			<ion-row class="statistics">
				<ion-col class="statistics-box">
					<ion-row>
						<ion-col class="statistics-label" col-10>
							Pedidos em Aberto
						</ion-col>
						<ion-col class="statistics-icon" col-2>
							<ion-icon name="ios-more"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="statistics-number no-padding-top">
							150
						</ion-col>
						<ion-col class="img-chart">
							<img src="../assets/img/chart1.png" />
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-right class="statistics-details">
							<span>Mais Detalhes</span> 
							<ion-icon name="ios-arrow-forward"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col class="statistics-box">
					<ion-row>
						<ion-col class="statistics-label" col-10>
							Total de Pedidos
						</ion-col>
						<ion-col class="statistics-icon" col-2>
							<ion-icon name="ios-more"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="statistics-number no-padding-top">
							1274
						</ion-col>
						<ion-col class="img-chart">
							<img src="../assets/img/chart2.png" />
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-right class="statistics-details">
							<span>Mais Detalhes</span> 
							<ion-icon name="ios-arrow-forward"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col class="statistics-box">
					<ion-row>
						<ion-col class="statistics-label" col-10>
							Total em Compras
						</ion-col>
						<ion-col class="statistics-icon" col-2>
							<ion-icon name="ios-more"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="statistics-number no-padding-top">
							R$ 950k
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-right class="statistics-details">
							<span>Mais Detalhes</span> 
							<ion-icon name="ios-arrow-forward"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col class="statistics-box">
					<ion-row>
						<ion-col class="statistics-label" col-10>
							Fornecedores
						</ion-col>
						<ion-col class="statistics-icon" col-2>
							<ion-icon name="ios-more"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="statistics-number no-padding-top">
							748
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-right class="statistics-details">
							<span>Mais Detalhes</span> 
							<ion-icon name="ios-arrow-forward"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
			<ion-row class="charts">
				<ion-col class="charts-box no-margin" col-8>
					<ion-row>
						<ion-col class="charts-label" col-7>
							Vendas
						</ion-col>
						<ion-col col-4>
							<fieldset>
								<legend>Filtros</legend>
								<span>
									Semestre <ion-icon name="ios-arrow-down"></ion-icon>
								</span>
							</fieldset>
						</ion-col>
						<ion-col class="charts-icon" col-1>
							<ion-icon name="ios-more"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<canvas baseChart width="400" height="230"
								[datasets]="lineChartData"
								[labels]="lineChartLabels"
								[options]="lineChartOptions"
								[colors]="lineChartColors"
								[legend]="lineChartLegend"
								[chartType]="lineChartType"
								(chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)">
							</canvas>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-right class="charts-details">
							<span>Mais Detalhes</span> 
							<ion-icon name="ios-arrow-forward"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col class="charts-box no-margin" col-4>
					<ion-row>
						<ion-col class="charts-label" col-10>
							Por Fornecedor
						</ion-col>
						<ion-col class="charts-icon" col-2>
							<ion-icon name="ios-more"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<canvas baseChart width="150" height="190"
								[datasets]="barChartData"
								[labels]="barChartLabels"
								[options]="barChartOptions"
								[colors]="barChartColors"
								[legend]="barChartLegend"
								[chartType]="barChartType"
								(chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)">
							</canvas>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-right class="charts-details">
							<span>Mais Detalhes</span> 
							<ion-icon name="ios-arrow-forward"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
			<ion-row class="products">
				<ion-col class="products-box">
					<ion-row>
						<ion-col class="products-label" col-5>
							Produtos mais Comprados
						</ion-col>
						<ion-col col-4>
							<ion-item class="products-search">        
								<ion-label> <ion-icon name="search"></ion-icon></ion-label>
								<ion-input clearInput type="text" placeholder="Buscar"></ion-input>
							</ion-item>
						</ion-col>
						<ion-col col-2>
							<fieldset>
								<legend>Filtros</legend>
								<span>
									Semana <ion-icon name="ios-arrow-down"></ion-icon>
								</span>
							</fieldset>
						</ion-col>
						<ion-col class="products-icon" col-1>
							<ion-icon name="ios-more"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="quantity-total">
							150 produtos encontrados
						</ion-col>
					</ion-row>
					<ion-row class="product" *ngFor="let product of products">
						<ion-col class="product-box">
							<ion-row>
								<ion-col col-1>
									<img [src]="product.image" />
								</ion-col>
								<ion-col col-4>
									<ion-row>
										<ion-col class="product-name">
											{{product.name}}
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col class="product-code">
											Cód.: {{product.code}}
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col class="product-group">
											{{product.group}}
										</ion-col>
									</ion-row>
								</ion-col>
								<ion-col col-2>
									<ion-row>
										<ion-col text-right class="product-label">Valor Atual</ion-col>
									</ion-row>
									<ion-row>
										<ion-col text-right class="product-label">Valor Anterior</ion-col>
									</ion-row>
									<ion-row>
										<ion-col text-right class="product-label">Valor Médio</ion-col>
									</ion-row>
								</ion-col>
								<ion-col col-2>
									<ion-row>
										<ion-col class="product-current-value down no-padding-top"
										[class.down]="product.arrow == 'down'" [class.up]="product.arrow == 'up'">
											{{product.current_value}} 
											<ion-icon *ngIf="product.arrow == 'down'" name="md-arrow-round-down"></ion-icon>
											<ion-icon *ngIf="product.arrow == 'up'" name="md-arrow-round-up"></ion-icon>
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col class="product-previous-value">{{product.previous_value}}</ion-col>
									</ion-row>
									<ion-row>
										<ion-col class="product-average-value">{{product.average_value}}</ion-col>
									</ion-row>
								</ion-col>
								<ion-col col-3 class="product-cart-quantity">
									<ion-row>
										<ion-col>
											<span class="product-quantity">
												<ion-icon name="md-remove"></ion-icon>
												<span>01</span>
												<ion-icon name="md-add" class="icon-plus"></ion-icon>
											</span>
											<span class="product-cart">
												<ion-icon name="cart"></ion-icon>
											</span>
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col>
											<span class="product-price-history">
												Ver Histórico de Preço
											</span>
										</ion-col>
									</ion-row>
								</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
			<ion-row class="reports">
				<ion-col class="reports-box">
					<ion-row>
						<ion-col class="reports-label" col-10>
							Fornecedores
						</ion-col>
						<ion-col class="reports-icon" col-2>
							<ion-icon name="ios-more"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row class="report" *ngFor="let provider of providers">
						<ion-col class="report-box">
							<ion-row>
								<ion-col class="report-label">
									{{provider.name}}
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>
									<span class="report-label-text">Valor Gasto</span>
									<span class="report-number">{{provider.value_expense}}</span>
								</ion-col>
								<ion-col>
									<span class="report-label-text">Último Pedido</span>
									<span class="report-number">{{provider.last_order}}</span>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>
									<span class="report-label-text">Marketshare</span>
									<span class="report-number">{{provider.marketshare}}</span>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col text-right class="report-details">
									<span>Acessar Loja</span> 
									<ion-icon name="ios-arrow-forward"></ion-icon>
								</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-col>
				<!--
				<ion-col class="reports-box">
					<ion-row>
						<ion-col class="reports-label no-padding-bottom" col-10>
							Acompanhamento
						</ion-col>
						<ion-col class="reports-icon" col-2>
							<ion-icon name="ios-more"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="reports-label no-padding-top">Gasto x Orçamento</ion-col>
					</ion-row>
					<ion-row class="loading-bar">
						<ion-col class="no-padding-right" col-10>
							<div class="loading-bar-done"></div>
						</ion-col>
						<ion-col class="no-padding-left" col-2>
							<div class="loading-bar-no-done"></div>
						</ion-col>
					</ion-row>
					<ion-row class="monitoring">
						<ion-col>
							<span class="monitoring-label">Custo Planejado</span>
							<span class="monitoring-value-plan">R$45.5k</span>
						</ion-col>
						<ion-col text-right>
							<span class="monitoring-label">Custo realizado</span>
							<span class="monitoring-value-realized">R$40.5k</span>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<canvas baseChart height="300"
								[datasets]="radarChartData"
								[labels]="radarChartLabels"
								[options]="radarChartOptions"
								[colors]="radarChartColors"
								[chartType]="radarChartType"
								(chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)">
							</canvas>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="monitoring-number" text-center>
							R$ 5k <ion-icon name="md-arrow-round-down"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
				-->
				<ion-col class="reports-box">
					<ion-row>
						<ion-col class="reports-label" col-10>
							Atividades
						</ion-col>
						<ion-col class="reports-icon" col-2>
							<ion-icon name="ios-more"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="reports-date">Hoje, {{date | date: 'dd'}} de {{date | date: 'MMMM'}}</ion-col>
					</ion-row>
					<ion-row class="activities" *ngFor="let activity of activities">
						<ion-col class="activities-box">
							<ion-row>
								<ion-col>
									<span class="activities-label-text">{{activity.name}}</span>
									<span class="activities-subtitle">ID: {{activity.id}}</span>
								</ion-col>
								<ion-col text-right>
									<span class="activities-label-value">{{activity.value}}</span>
									<ion-icon class="down" *ngIf="activity.arrow == 'down'" name="md-arrow-round-down"></ion-icon>
									<ion-icon class="up" *ngIf="activity.arrow == 'up'" name="md-arrow-round-up"></ion-icon>
									<span class="activities-subtitle">{{activity.date}}</span>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col text-right class="activities-details">
									<span>Mais Detalhes</span> 
									<ion-icon name="ios-arrow-forward"></ion-icon>
								</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-col>
		<orders [orders]="orders"></orders>
	</ion-row>
</ion-col>