<ion-col class="content" col-10>
	<ion-row>
		<ion-col col-9>
			<ion-row class="statistics">
				<ion-col class="statistics-box">
					<ion-row>
						<ion-col class="statistics-label" col-10>
							Pedidos em Aberto
						</ion-col>
						<ion-col class="statistics-icon" col-2>
							<ion-icon name="ios-more" (click)="presentPopover($event)"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="statistics-number no-padding-top">
							150
						</ion-col>
						<ion-col class="img-chart">
							<img src="../assets/img/chart1.png" />
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-right class="statistics-details">
							<span>Mais Detalhes</span> 
							<ion-icon name="ios-arrow-forward"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col class="statistics-box">
					<ion-row>
						<ion-col class="statistics-label" col-10>
							Total de Pedidos
						</ion-col>
						<ion-col class="statistics-icon" col-2>
							<ion-icon name="ios-more" (click)="presentPopover($event)"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="statistics-number no-padding-top">
							1274
						</ion-col>
						<ion-col class="img-chart">
							<img src="../assets/img/chart2.png" />
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-right class="statistics-details">
							<span>Mais Detalhes</span> 
							<ion-icon name="ios-arrow-forward"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col class="statistics-box">
					<ion-row>
						<ion-col class="statistics-label" col-10>
							Total em Compras
						</ion-col>
						<ion-col class="statistics-icon" col-2>
							<ion-icon name="ios-more" (click)="presentPopover($event)"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="statistics-number no-padding-top">
							R$ 950k
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-right class="statistics-details">
							<span>Mais Detalhes</span> 
							<ion-icon name="ios-arrow-forward"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col class="statistics-box">
					<ion-row>
						<ion-col class="statistics-label" col-10>
							Fornecedores
						</ion-col>
						<ion-col class="statistics-icon" col-2>
							<ion-icon name="ios-more" (click)="presentPopover($event)"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="statistics-number no-padding-top">
							748
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-right class="statistics-details">
							<span>Mais Detalhes</span> 
							<ion-icon name="ios-arrow-forward"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
			<ion-row class="charts">
				<ion-col class="charts-box no-margin" col-8>
					<ion-row>
						<ion-col class="charts-label" col-7>
							Vendas
						</ion-col>
						<ion-col col-4>
							<fieldset>
								<legend>Filtros</legend>
								<span>
									Semestre <ion-icon name="ios-arrow-down"></ion-icon>
								</span>
							</fieldset>
						</ion-col>
						<ion-col class="charts-icon" col-1>
							<ion-icon name="ios-more" (click)="presentPopover($event)"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<canvas baseChart width="400" height="230"
								[datasets]="lineChartData"
								[labels]="lineChartLabels"
								[options]="lineChartOptions"
								[colors]="lineChartColors"
								[legend]="lineChartLegend"
								[chartType]="lineChartType"
								(chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)">
							</canvas>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-right class="charts-details">
							<span>Mais Detalhes</span> 
							<ion-icon name="ios-arrow-forward"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col class="charts-box no-margin" col-4>
					<ion-row>
						<ion-col class="charts-label" col-10>
							Por Fornecedor
						</ion-col>
						<ion-col class="charts-icon" col-2>
							<ion-icon name="ios-more" (click)="presentPopover($event)"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<canvas baseChart width="150" height="190"
								[datasets]="barChartData"
								[labels]="barChartLabels"
								[options]="barChartOptions"
								[colors]="barChartColors"
								[legend]="barChartLegend"
								[chartType]="barChartType"
								(chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)">
							</canvas>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-right class="charts-details">
							<span>Mais Detalhes</span> 
							<ion-icon name="ios-arrow-forward"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
			<ion-row class="products">
				<ion-col class="products-box">
					<products [products]="products" source="dashboard" title="Produtos Mais Comprados"></products>
				</ion-col>
			</ion-row>
			<ion-row class="reports">
				<ion-col class="reports-box">
					<providers [providers]="providers"></providers>
				</ion-col>
				<ion-col class="reports-box no-chart-view">
					<div class="no-chart-monitoring">
						<div class="text-no-chart">
							<span>Desculpe, nenhum dado está disponível atualmente!</span>
						</div>
					</div>
					<div class="content-chart">
						<ion-row>
							<ion-col class="reports-label no-padding-bottom" col-10>
								Acompanhamento
							</ion-col>
							<ion-col class="reports-icon" col-2>
								<ion-icon name="ios-more" (click)="presentPopover($event)"></ion-icon>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col class="reports-label no-padding-top">Gasto x Orçamento</ion-col>
						</ion-row>
						<ion-row class="loading-bar">
							<ion-col class="no-padding-right" col-10>
								<div class="loading-bar-done"></div>
							</ion-col>
							<ion-col class="no-padding-left" col-2>
								<div class="loading-bar-no-done"></div>
							</ion-col>
						</ion-row>
						<ion-row class="monitoring">
							<ion-col>
								<span class="monitoring-label">Custo Planejado</span>
								<span class="monitoring-value-plan">R$45.5k</span>
							</ion-col>
							<ion-col text-right>
								<span class="monitoring-label">Custo realizado</span>
								<span class="monitoring-value-realized">R$40.5k</span>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col>
								<canvas baseChart height="300"
									[datasets]="radarChartData"
									[labels]="radarChartLabels"
									[options]="radarChartOptions"
									[colors]="radarChartColors"
									[chartType]="radarChartType"
									(chartHover)="chartHovered($event)"
									(chartClick)="chartClicked($event)">
								</canvas>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col class="monitoring-number" text-center>
								R$ 5k <ion-icon name="md-arrow-round-down"></ion-icon>
							</ion-col>
						</ion-row>
					</div>
				</ion-col>
				<ion-col class="reports-box">
					<activities [activities]="activities"></activities>
				</ion-col>
			</ion-row>
		</ion-col>
		<orders [orders]="orders"></orders>
	</ion-row>
</ion-col>