<ion-row class="submenu">
	<ion-col (click)="go('mercearia')" [class.current]="submenu == 'mercearia'">
		<ion-icon name="pizza"></ion-icon>
		Mercearia
	</ion-col>
	<ion-col (click)="go('hortifruti')" [class.current]="submenu == 'hortifruti'">
		<ion-icon name="pizza"></ion-icon>
		Hortifruti
	</ion-col>
	<ion-col (click)="go('carnes')" [class.current]="submenu == 'carnes'">
		<ion-icon name="pizza"></ion-icon>
		Carnes, Aves e Peixes
	</ion-col>
	<ion-col (click)="go('frios')" [class.current]="submenu == 'frios'">
		<ion-icon name="pizza"></ion-icon>
		Frios e Laticínios
	</ion-col>
	<ion-col (click)="go('congelados')" [class.current]="submenu == 'congelados'">
		<ion-icon name="pizza"></ion-icon>
		Congelados
	</ion-col>
	<ion-col (click)="go('bebidas')" [class.current]="submenu == 'bebidas'">
		<ion-icon name="pizza"></ion-icon>
		Bebidas
	</ion-col>
	<ion-col (click)="go('confeitaria')" [class.current]="submenu == 'confeitaria'">
		<ion-icon name="pizza"></ion-icon>
		Confeitaria
	</ion-col>
	<ion-col (click)="go('equipamentos')" [class.current]="submenu == 'equipamentos'">
		<ion-icon name="pizza"></ion-icon>
		Equipamentos e Utensílios
	</ion-col>
	<ion-col (click)="go('limpeza')" [class.current]="submenu == 'limpeza'">
		<ion-icon name="pizza"></ion-icon>
		Limpeza e Higiene
	</ion-col>
	<ion-col (click)="go('embalagem')" [class.current]="submenu == 'embalagem'">
		<ion-icon name="pizza"></ion-icon>
		Embalagem e Descartáveis
	</ion-col>
</ion-row>