<ion-col class="content fast-buy" id="contentFastBuy" no-padding col-10>
	<ion-row class="fast-buy-content">
		<ion-col col-3>
			<div class="step">
				<ion-row>
					<ion-col class="step-title">Passo 1</ion-col>
				</ion-row>
				<ion-row>
					<ion-col class="step-subtitle">Selecione o Fornecedor</ion-col>
				</ion-row>
				<ion-row>
					<ion-col class="no-padding-top">
						<ion-item class="products-search">        
							<ion-label> <ion-icon name="search"></ion-icon></ion-label>
							<ion-input clearInput [ngModel]="inputSupplier" (ngModelChange)="getSupplier($event)" placeholder="Buscar"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col class="step-quantity">
						<span *ngIf="items_quantity">{{items_quantity}} </span>
						<span *ngIf="items_quantity == 1">fornecedor encontrado</span>
						<span *ngIf="items_quantity > 1">fornecedores encontrados</span>
						<span *ngIf="items_quantity == 0"> Nenhum fornecedor encontrado!</span>
					</ion-col>
				</ion-row>
				<ion-row class="step-suppliers">
					<ion-col>
						<ion-row class="step-supplier" *ngFor="let supplier of items">
							<ion-col col-5><img [src]="supplier.image"></ion-col>
							<ion-col col-7 class="step-supplier-name">{{supplier.name}}</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</div>
		</ion-col>
		<ion-col>
			<div class="step">
				<ion-row>
					<ion-col class="products-box" no-padding>
						<products [products]="products" source="fast_buy" name="Passo 2"></products>
					</ion-col>
				</ion-row>
			</div>
		</ion-col>
		<ion-col col-4 class="step-3">
			<ion-row class="margin-left-10">
				<ion-col class="step-title">Passo 3</ion-col>
			</ion-row>
			<ion-row class="margin-left-10">
				<ion-col class="step-subtitle">Confirme seu Pedido</ion-col>
			</ion-row>
			<ion-row class="step-subtotal margin-left-15">
				<ion-col>
					<span class="step-subtotal-supplier">Multifoods</span>
					<span class="step-subtotal-quantity">3 itens</span>
				</ion-col>
				<ion-col class="step-subtotal-price">
					R$ 617,90
				</ion-col>
			</ion-row>
			<ion-row class="product-list margin-left-10 step-product-list">
				<ion-col *ngFor="let item of shopping_cart" class="product-box step-product-box">
					<ion-row>
						<ion-col col-2>
							<img [src]="item.image" />
						</ion-col>
						<ion-col>
							<ion-row>
								<ion-col class="product-name" tooltip="{{item.name}}" positionV="bottom" arrow event="hover">
									{{item.name}}
								</ion-col>			
							</ion-row>
							<ion-row>
								<ion-col class="product-current-value no-padding-bottom">{{item.current_value | currency: 'BRL': true}} <span>p/ unidade</span></ion-col>
							</ion-row>
							<ion-row>
								<ion-col class="step-product-quantity">Qtd: 10</ion-col>
							</ion-row>
						</ion-col>
						<ion-col col-2 class="step-product-remove">
							<ion-icon name="netfoods-trash"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
			<ion-row class="step-total padding-left-10">
				<ion-col>
					<ion-row>
						<ion-col class="step-subtotal-supplier">
							Multifoods
						</ion-col>
						<ion-col class="step-total-text" text-right>
							valor total do pedido
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="step-subtotal-quantity no-padding-top">
							2 fornecedores
						</ion-col>
						<ion-col class="step-total-price no-padding-top" text-right>
							R$ 617,90
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-center>
							<button ion-button full icon-start (click)="openShoppingCart()" class="button-order">
								<ion-icon name="cart"></ion-icon>
								Efetuar Pedido
							</button>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="step-save-order " text-center>
							Salvar Pedido
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
</ion-col>